:global {
  body {
    margin: 0;
    padding: 0;
    padding-left: 68px;
    @media (prefers-color-scheme: light) {
      & {
        color-scheme: light;
        background: rgb(213, 213, 213);
      }
    }
    @media (prefers-color-scheme: dark) {
      & {
        color-scheme: dark;
        background: rgb(0, 0, 0);
      }
    }
  }
  .appwrapper {
    padding: 10px 10px 10px 0;
    position: absolute;
    inset: 0;
  }
}

.app {
  position: absolute;
  inset: 0;
  > * {
    position: absolute;
    inset: 0;
    > * {
      position: absolute;
      inset: 0;
    }
  }
}
